<!-- page with list of all clients -->
<!-- when listing each client can first sort by last name -->

<h2>
  All Clients
  <a class="right" href="/clients/client_new"><button>Create New Client</button></a>
</h2>
<br>

<% if !clients? %>
  <p>
    There are no clients, create a new client.
  </p>
<% else %>
  <% @clients.each do |client| %>
    <p><%= last_name_comma_first_name(client) %></p>
  <% end %>
<% end %>

<br>
