<!-- page with list of all clients -->
<!-- right now link is just redirecting to home. this will redirect to their info page eventually -->

<h2>
  All Clients
  <a class="right" href="/clients/client_new"><button>Create New Client</button></a>
</h2>

<% if !clients? %>
  <p>
    There are no clients, create a new client.
  </p>
<% else %>
  <ul>
  <% @clients.each do |client| %>
    <li class="list_item"><a class="name_list" href='/clients/ <% client[:client_num] %>'><%= last_name_comma_first_name(client) %></a></li>
  <% end %>
  </ul>
<% end %>

<br>


