<!-- page with list of all clients -->

<h2>
  All Clients
  <a class="right" href="/clients/client_new"><button>Create New Client</button></a>
</h2>
<br>

<% if !clients? %>
  <p>
    There are no clients, create a new client.
  </p>
<% end %>
