<!-- page showing all interactions -->

<h2>
  Interactions
  <a class="right" href="/interactions/interaction_new"><button>Create New Interaction</button></a>
</h2>

<% if !clients? %>
  <p>Interactions need a client to be linked to. There are no clients. First create clients and after interactions can be created for the clients.</p>
<% else %>
  <% if !interactions? %>
    <p>
      There are no interactions, create a new interaction.
    </p>
  <% else %>
    <ul>
    <% @interactions.each do |interaction| %>
      <li class="list_item"><a class="name_list" href='/interactions/<%= interaction[:id] %>'><%= interaction_date_client_type(interaction) %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>