<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>rijks crm</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Lato:wght@700&display=swap" rel="stylesheet">
    <link href="/stylesheets/rijks_crm.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <ul class="header_ul">
      <li class="header_li" id="crm_a"><a class="header_li_a" href="/about" id="crm_name">rijks crm</a></li>
      <li class="header_li" id="image"><a class="header_li_a" href="/clients"><img src="/icons/badge.png" id="image"></a></li>
      <li class="header_li" id="image"><a class="header_li_a" href="/search"><img src="/icons/search.png" id="image"></a></li>
      <li class="header_li" id="image"><a class="header_li_a" href="/interactions"><img src="/icons/interaction.png" id="image"></a></li>
      <li class="header_li" id="image"><a class="header_li_a" href="/inventory"><img src="/icons/check.png" id="image"></a></li>
      <li class="header_li" id="image"><a class="header_li_a" href="/admin"><img src="/icons/admin.png" id="image"></a></li>
    </ul>
    </header>
    <%== yield %>

  </body>
</html>
