
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>tales</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Lato:wght@700&display=swap" rel="stylesheet">
    <link  href="/stylesheets/rijks_crm.css" rel="stylesheet" >
  </head>
  <body>

    <header>
      <ul>
      <li id="crm_a"><a href="#home" id="crm_name">rijks crm</a></li>
      <li id="image" ><a href="#slate"><img src="/icons/badge.png" id="image"></a></li>
      <li id="image"><a href="#slate"><img src="/icons/money.png" id="image"></a></li>
      <li id="image"><a href="#slate"><img src="/icons/question.png" id="image"></a></li>
      <li id="image"><a href="#slate"><img src="/icons/interaction.png" id="image"></a></li>
      <li id="image"><a href="#slate"><img src="/icons/check.png" id="image"></a></li>
      <li id="image"><a href="#slate"><img src="/icons/admin.png" id="image"></a></li>
    </ul>
    </header>
   
    <%== yield %>
  </body>
</html>