* {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: lightgrey;
}

/* Formatting for the header image with icons */

#crm_name {
  /* font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif; */
  font-size: 60px;
  background-color: darkgrey;
}

#crm_name:hover {
    background-color: #2779BF
}

/* general ul and li changed to header_ul and header_li so as not to interfere with other ul / li used on other pages. The header is very specific and made so like this. Changes also made for li a and li a:hover. Made specific */
.header_ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgrey;
}

.header_li {
  float: left;
}

.header_li_a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header_li_a:hover {
  /* background-color: black */
  background-color: #2779BF
}

#image {
  display: block;
  text-decoration: none;
}

/* Formatting for the Content Info on top of each page - title of content info and navigation buttons */

h2 {
  /* font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif; */
  color: #2779BF;
  margin-left: 10px;
}

/* # this is also used for the cancel button on the new_client page, so it's consistent with content info in general */
.right {
  float: right;
  padding-right: 10px;
}

/* Formatting for paragraph info to make all paragraphs standard */

p {
  padding-left: 20px;
}

/* Formatting for fields on a form that will submit data */

.field_question {
  margin-left: 20px;
}

.field_data {
  margin-left: 40px;
}

/* formatting for all submit buttons */
.submit {
  margin-left: 20px;
}

/* formatting for all cancel buttons */
.cancel {
  float: right;
  padding-right: 10px;
}

/* formatting for all regular lists (not the header) right now these are for the list of client names */

.clients_ul {
  list-style-type: none;
}

.list_item {
  color: black;
  list-style-type: '>> ';
}

.list_item:hover {
  color: #2779BF;
}

.name_list {
  color: black; /* makes anchor color black instead of default blueish */
  text-decoration: none; /* removes underline from anchor */
}

/* formatting for h3, this is used as a header for name, email, etc for client info also will be used for art info */

h3 {
  color: #2779BF;
  margin-left: 10px;
}

/* test formatting for contact info page to make 2 columsn */

/* REMOVE */
/* #second_col {
  float: right;
  margin-right: 800px;
} */

/* image for the unordered lists for artists and works, paintbrush image */

/* .paintbrush {
  list-style-image: url('../icons')
} */